@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed|Indie+Flower|Roboto|Roboto+Condensed");
.btn {
  padding: 5px 5px 5px 4px;
  background-color: #f45822;
  border-radius: 3px;
  border: 0px solid #265773;
  font-family: "Roboto Condensed", sans-serif;
  color: #F3F0EE;
}

.btn:focus {
  outline: 0;
  background-color: #F47C51;
}

.btn:active {
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 10, 35, 0.6);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 10, 35, 0.6);
  box-shadow: inset 1px 1px 1px rgba(0, 10, 35, 0.6);
  background-color: #D04A1C;
  padding: 6px 4px 4px 5px;
}

.text-center {
  text-align: center;
}
