@import './_variables.scss';

.btn {
    padding: 5px 5px 5px 4px;
    background-color: $accent;
    border-radius: 3px;
    border: 0px solid $dark;
    font-family: $font2;
    color: $lightFontColor;

    &:focus {
        outline:0;
        background-color: $accentLight;
    }
    &:active {
        @include box-shadow(1px, 1px, 1px, $transDark, inset);        
        background-color: $darkerAccent;
        padding: 6px 4px 4px 5px;
        // border: 1px double $dark;
    }
    
}
.text-center {
    text-align: center;
}