@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed|Indie+Flower|Roboto|Roboto+Condensed");
.btn {
  padding: 5px 5px 5px 4px;
  background-color: #4a7f92;
  border-radius: 3px;
  border: 1px solid #265773;
  font-family: "Roboto Condensed", sans-serif;
  color: #F3F0EE;
}

.btn:focus {
  outline: 0;
  background-color: #00ACD7;
}

.btn:active {
  -moz-box-shadow: inset 1px 1px 1px rgba(20, 40, 60, 0.5);
  -webkit-box-shadow: inset 1px 1px 1px rgba(20, 40, 60, 0.5);
  box-shadow: inset 1px 1px 1px rgba(20, 40, 60, 0.5);
  background-color: #365E6C;
  padding: 6px 4px 4px 5px;
}

.text-center {
  text-align: center;
}
